*{
  box-sizing: border-box;
  padding: 0px;
  border: 0px;
  margin: 0px;
}
html,
body{
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eeeeee;
}
:root{
  --green:#008000;

  font-size: 62.5%;
}